body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: regular;
}

header {
  background-color: #ffffff;
}

.company-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-accent {
  color: #2e2f42;
}

.menu-nav {
  list-style-type: none;
}

.menu-btn {
  font-weight: 500;
  color: #2e2f42;
}
.menu-btn:hover {
  color: #404bbf;
}
.menu-btn:active {
  color: #404bbf;
  text-decoration: underline;
}

.address-btn {
  font-weight: 500;
  color: #434455;
}
.address-btn:hover {
  color: #404bbf;
}
.address-btn:active {
  color: #404bbf;
  text-decoration: underline;
}

.title {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.04em;
}
.button:focus {
  background-color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  color: #ffffff;
}

.feature-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: bold;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: medium;
}

.team {
  background-color: #f4f4fd;
}

.team-text {
  font-size: 16px;
}

.prCard {
  background-color: #ffffff;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.page-footer-text {
  letter-spacing: 0.02em;
}

.page-footer-logo-accent {
  color: #f4f4fd;
}
