body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: regular;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ------HEADER------ */

header {
  background-color: #ffffff;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.nav-header {
  display: flex;
  align-items: center;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-info {
  color: #434455;
}
.contacts-info:hover,
.contacts-info:focus {
  color: #404bbf;
}

.contacts-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header-container {
  display: flex;
  border-bottom: 1px solid var;
  height: 72px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ------hero image------ */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
}

.button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.04em;

  display: block;
  border-radius: 4px;
  border: 0;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  min-width: 169px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 188px 0;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* ------Section 1------ */

.feature-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.feature-item {
  flex-basis: calc((100% - 72px) / 3);
  width: 264px;
}

.visually-hidden {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: medium;
  margin-bottom: 8px;
}

/* ------Section 2------ */

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: bold;
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
}

.content-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.prcard {
  background-color: #ffffff;
  flex-basis: calc((100% - 24px * 3) / 3);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card-content {
  padding: 32px 0;
}

/* ------Section 3------ */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: 360px;
  height: 420px;
  width: calc((100% - 48) / 3);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-content-title {
  margin-bottom: 8px;
}

/* ------footer------ */

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-footer-text {
  letter-spacing: 0.02em;
  max-width: 264px;
}

.page-footer-logo-accent {
  color: #f4f4fd;
}

.footer-container {
  flex-direction: column;
}

.footer-logo-web {
  display: inline-block;
  margin-bottom: 16px;
}
